<h2><%= @person.name %>
<h3>My map</h3>
<%= content_tag :div, "",
        class: "map personal-map",
        data: { src: person_locations_path(@person) }
%>



<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
